/*body{
    margin: center;
    width: 90%;
}
header{
    border: 1px solid black;
}
#main{
    width: 80%;
    margin: auto;
}
/*a{
    text-decoration: antiquewhite;
}

header{
    background-color: #9bc9ec;
}*/